<%- include("header.ejs") -%>

<div>
    <form method="post" action="/auth/signin">
        <input type="text" placeholder="email" name="email"/>
        <input type="password" placeholder="password" name="password"/>
        <input type="submit" placeholder="submit" value="submit" />
    </form>
</div>

<%- include("footer.ejs") -%>